<%- include('header')-%>

<div class="logo">
    <img src='./assets/logo (1).png' alt="">
</div>

<div class="container">
    <h1>Sign In</h1>
    <!-- <div class="form"> -->
        <% if(locals.logout){%>
            <div class="alter alert-success text-center">
                <%= logout%>
            </div>
            <% } %>
        <form action="/login" method="POST">
        <input type="email" placeholder="Email or phone number" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Sign In">
    </form>
        <input type="checkbox">
        <label>Remember me</label>
        <a href="https://www.netflix.com/in/LoginHelp">Need help?</a>
    <!-- </div> -->
    <div class="content">
        <h5>New to Netflix? <a href="https://www.netflix.com/in/">Sign up now.</a> </h5> <br>
        <p>This page is not protected by Ucefez to ensure you're not a bot.<a href="#"> Learn more.</a></p>
    </div>
</div>

<%- include('footer')-%>
